@page "/forgot-password"
@using Geocontrol_PPI_NET_9.Models.Auth
@using Geocontrol_PPI_NET_9.Web.Services
@using System.Security.Cryptography
@using System.Threading.Tasks
@using Geocontrol_PPI_NET_9.Web.Services.Auth
@using Geocontrol_PPI_NET_9.Web.Services.Loading
@using Geocontrol_PPI_NET_9.Web.Services.Mail

@inject NavigationManager Nav
@inject IJSRuntime JS
@inject AuthService authService
@inject CodeApiService codeApiService
@inject UserApiService userApiService
@inject MailService mailService
@inject LoadingService loadingService

<div class="login-container">
    @if (!isCodePhase)
    {
        <div class="login-card">
            <h3 class="login-title">Recuperar contraseña</h3>

            <EditForm Model="@authCode" OnValidSubmit="@HandleRecoverPassword">
                <div class="form-group mb-3">
                    <InputText class="form-control text-center"
                               placeholder="Digite su cédula"
                               @bind-Value="authCode.codusu_cedula" />
                </div>

                <button type="submit" class="btn-login">Recuperar contraseña</button>
            </EditForm>
        </div>
    }
    else
    {
        if (isRecoverPhase)
        {
            <div class="login-card">
                <h3 class="login-title">Nueva contraseña</h3>

                <EditForm Model="@newPass" OnValidSubmit="@HandleNewPassword">
                    <div class="form-group mb-3">
                        <InputText class="form-control text-center"
                                   placeholder="Ingrese la nueva contraseña"
                                   maxlength="16"
                                   @bind-Value="newPass.usu_contrasenia_nueva"
                                   type="password" />

                        <InputText class="form-control mt-5 text-center"
                                   placeholder="Repita la nueva contraseña"
                                   maxlength="16"
                                   @bind-Value="newPass.usu_contrasenia_nueva2"
                                   type="password" />
                    </div>

                    <button type="submit" class="btn-login">Cambiar Contraseña</button>
                </EditForm>
            </div>
        }
        else
        {
            <div class="login-card">
                <h3 class="login-title">Verificación de código</h3>

                <div class="mb-3 text-center">
                    <span class="fw-bold text-light" style="font-size:1.5rem">@timerDisplay</span>
                </div>

                <EditForm Model="@authCode" OnValidSubmit="@HandleVerifyCode">
                    <div class="form-group mb-3">
                        <InputText class="form-control text-center"
                                   placeholder="Ingrese el código recibido"
                                   maxlength="6"
                                   @bind-Value="authCode.cod_code" />
                    </div>

                    <button type="submit" class="btn-login">Verificar código</button>
                </EditForm>
            </div>
        }
    }
</div>

@code {
    private AuthCode authCode = new();
    private NewPassword newPass = new();

    private bool isCodePhase = false;
    private bool isRecoverPhase = false;

    private int remainingSeconds = 300;
    private string timerDisplay = "05:00";
    private int failedAttempts = 0;
    private System.Threading.Timer? timer;

    private async Task HandleRecoverPassword()
    {
        try
        {
            /// Show the splash loading page
            await loadingService.ShowAsync("Enviando correo de recuperación...");

            /// Generate the randomizaer code
            var auxCode = RandomNumberGenerator.GetInt32(100000, 999999).ToString();
            var expirationDate = DateTime.Now.AddMinutes(5);

            var resultEmail = await mailService.SendEmail(authCode.codusu_cedula, auxCode, expirationDate);

            if (!resultEmail.status)
                throw new Exception($"Error al enviar correo: {resultEmail.message}");

            /// Save the created and sended code
            await codeApiService.CreateAuthCode(new AuthCode() { cod_code = auxCode, codusu_cedula = authCode.codusu_cedula, cod_fecha_expiracion = expirationDate });

            /// Cambia de vista
            isCodePhase = true;

            /// Inicia el cronómetro
            StartTimer();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            await JS.InvokeVoidAsync("alert", $"Error al generar el código de recuperación.");
        }
        finally
        {
            await loadingService.HideAsync();
        }
    }

    private async Task HandleVerifyCode()
    {
        try
        {
            /// Show the splash loading page
            await loadingService.ShowAsync("Verificando código...");

            // De momento simulamos que el código correcto es "123456"
            if (await codeApiService.ValidateAuthCode(authCode))
            {
                timer?.Dispose();
                await JS.InvokeVoidAsync("alert", $"Código verificado correctamente");

                isRecoverPhase = true;
            }
            else
            {
                failedAttempts++;

                if (failedAttempts >= 3)
                {
                    timer?.Dispose();
                    await JS.InvokeVoidAsync("alert", "Por favor reintente nuevamente el proceso, revise el correo inscrito a la cédula para obtener el código.");
                    Nav.NavigateTo("/");
                }
                else
                {
                    await JS.InvokeVoidAsync("alert", $"Código incorrecto. Intento {failedAttempts}/3.");
                }
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            await JS.InvokeVoidAsync("alert", $"Error al verificar la contraseña");
        }
        finally
        {
            await loadingService.HideAsync();
        }
    }

    private (bool result, string message) ValidateNewPassword()
    {
        // Valida que la contraseña contenga numeros y carácteres especiales
        if (newPass.usu_contrasenia_nueva.Length < 8 || !newPass.usu_contrasenia_nueva.Any(char.IsDigit)
            || !newPass.usu_contrasenia_nueva.Any(ch => !char.IsLetterOrDigit(ch)))
            return (false, "La contraseña debe contar con un mínimo de 8 carácteres, contener al menos un número y un carácter especial");

        if (!newPass.usu_contrasenia_nueva.Equals(newPass.usu_contrasenia_nueva2))
            return (false, "Las contraseñas deben ser iguales");


        return (true, string.Empty);
    }

    private async Task HandleNewPassword()
    {
        bool isLoadingShown = false;    

        try
        { 
            var (isValid, message) = ValidateNewPassword();

            if (!isValid)
            {
                await JS.InvokeVoidAsync("alert", message);
                return;
            }

            isLoadingShown = true;

            await loadingService.ShowAsync("Cambiando contraseña...");

            if (!await userApiService.UpdatePassword(newPass))
                throw new Exception("No se pudo cambiar la contraseña.");

            await loadingService.ShowAsync("Ingresando...");
            await Task.Delay(1000);

            authService.Login(authCode.codusu_cedula);
            Nav.NavigateTo("/map");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            await JS.InvokeVoidAsync("alert", $"Error al cambiar la contraseña.");
        }
        finally
        {
            if (isLoadingShown)
            {
                await loadingService.HideAsync();
            }
        }
    }

    private void StartTimer()
    {
        timer = new System.Threading.Timer(_ =>
        {
            if (remainingSeconds > 0)
            {
                remainingSeconds--;
                var minutes = remainingSeconds / 60;
                var seconds = remainingSeconds % 60;
                timerDisplay = $"{minutes:D2}:{seconds:D2}";
                InvokeAsync(StateHasChanged);
            }
            else
            {
                timer?.Dispose();
                JS.InvokeVoidAsync("alert", "El tiempo ha expirado, por favor vuelva a intentar la recuperacións.");
                Nav.NavigateTo("/");
            }
        }, null, 0, 1000);
    }

}