<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["Geocontrol_PPI_NET_9.Web.styles.css"]" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="@Assets["_framework/blazor.web.js"]"></script>
    <script src="@Assets["googlemaps.js"]"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGFWSohPfS1k2xYt58802o1U6ZmGA1TXI&libraries=drawing,geometry"></script>
</body>

</html>
